body {
  font-size: 16px;
  font-family: 'Droid Serif', serif;
  color: #404040; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', san-serif;
  line-height: 100%;
  margin: 0;
  color: #3079d9;
  font-weight: normal; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 25px; } }
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 30px; } }
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 35px; } }

@media only screen and (max-width: 767px) {
  p {
    font-size: 0.85em; } }
@media only screen and (min-width: 768px) {
  p {
    font-size: 1em; } }
@media only screen and (min-width: 992px) {
  p {
    font-size: 1.15em; } }

a:hover {
  text-decoration: none; }

.main {
  min-width: 100%; }
  .main header {
    background-color: #404040;
    height: 55px;
    box-sizing: content-box;
    box-shadow: 0px 2px 2px #000; }
    .main header .top-navigation {
      margin: 0 auto; }
      .main header .top-navigation .logo {
        display: block;
        height: 100%;
        float: left; }
      .main header .top-navigation nav {
        display: block;
        float: left; }
        .main header .top-navigation nav a {
          display: block;
          float: left;
          /*Starting Background Positions*/
          /*Applies to all links*/
          /*Ending Background Positions*/ }
          .main header .top-navigation nav a .email {
            background-image: url("../media/images/nav-icons.png"); }
          .main header .top-navigation nav a .linkedin {
            background-image: url("../media/images/nav-icons.png"); }
            @media only screen and (max-width: 767px) {
              .main header .top-navigation nav a .linkedin {
                background-position: -25px 0; } }
            @media only screen and (min-width: 768px) {
              .main header .top-navigation nav a .linkedin {
                background-position: -35px 0; } }
            @media only screen and (min-width: 992px) {
              .main header .top-navigation nav a .linkedin {
                background-position: -45px 0; } }
          .main header .top-navigation nav a .twitter {
            background-image: url("../media/images/nav-icons.png"); }
            @media only screen and (max-width: 767px) {
              .main header .top-navigation nav a .twitter {
                background-position: -50px 0; } }
            @media only screen and (min-width: 768px) {
              .main header .top-navigation nav a .twitter {
                background-position: -70px 0; } }
            @media only screen and (min-width: 992px) {
              .main header .top-navigation nav a .twitter {
                background-position: -90px 0; } }
          .main header .top-navigation nav a .github {
            background-image: url("../media/images/nav-icons.png"); }
            @media only screen and (max-width: 767px) {
              .main header .top-navigation nav a .github {
                background-position: -75px 0; } }
            @media only screen and (min-width: 768px) {
              .main header .top-navigation nav a .github {
                background-position: -105px 0; } }
            @media only screen and (min-width: 992px) {
              .main header .top-navigation nav a .github {
                background-position: -135px 0; } }
          .main header .top-navigation nav a .behance {
            background-image: url("../media/images/nav-icons.png"); }
            @media only screen and (max-width: 767px) {
              .main header .top-navigation nav a .behance {
                background-position: -100px 0; } }
            @media only screen and (min-width: 768px) {
              .main header .top-navigation nav a .behance {
                background-position: -140px 0; } }
            @media only screen and (min-width: 992px) {
              .main header .top-navigation nav a .behance {
                background-position: -180px 0; } }
          .main header .top-navigation nav a .resume {
            background-image: url("../media/images/nav-icons.png"); }
            @media only screen and (max-width: 767px) {
              .main header .top-navigation nav a .resume {
                background-position: -125px 0; } }
            @media only screen and (min-width: 768px) {
              .main header .top-navigation nav a .resume {
                background-position: -175px 0; } }
            @media only screen and (min-width: 992px) {
              .main header .top-navigation nav a .resume {
                background-position: -225px 0; } }
          @media only screen and (max-width: 767px) {
            .main header .top-navigation nav a .email, .main header .top-navigation nav a .linkedin, .main header .top-navigation nav a .twitter, .main header .top-navigation nav a .github, .main header .top-navigation nav a .behance, .main header .top-navigation nav a .resume {
              height: 25px;
              width: 25px;
              background-size: 150px auto; } }
          @media only screen and (min-width: 768px) {
            .main header .top-navigation nav a .email, .main header .top-navigation nav a .linkedin, .main header .top-navigation nav a .twitter, .main header .top-navigation nav a .github, .main header .top-navigation nav a .behance, .main header .top-navigation nav a .resume {
              height: 35px;
              width: 35px;
              background-size: 210px auto; } }
          @media only screen and (min-width: 992px) {
            .main header .top-navigation nav a .email, .main header .top-navigation nav a .linkedin, .main header .top-navigation nav a .twitter, .main header .top-navigation nav a .github, .main header .top-navigation nav a .behance, .main header .top-navigation nav a .resume {
              height: 45px;
              width: 45px;
              background-size: 270px auto; } }
          @media only screen and (max-width: 767px) {
            .main header .top-navigation nav a .email:hover {
              background-position: 0 -25px; } }
          @media only screen and (min-width: 768px) {
            .main header .top-navigation nav a .email:hover {
              background-position: 0 -35px; } }
          @media only screen and (min-width: 992px) {
            .main header .top-navigation nav a .email:hover {
              background-position: 0 -45px; } }
          @media only screen and (max-width: 767px) {
            .main header .top-navigation nav a .linkedin:hover {
              background-position: -25px -25px; } }
          @media only screen and (min-width: 768px) {
            .main header .top-navigation nav a .linkedin:hover {
              background-position: -35px -35px; } }
          @media only screen and (min-width: 992px) {
            .main header .top-navigation nav a .linkedin:hover {
              background-position: -45px -45px; } }
          @media only screen and (max-width: 767px) {
            .main header .top-navigation nav a .twitter:hover {
              background-position: -50px -25px; } }
          @media only screen and (min-width: 768px) {
            .main header .top-navigation nav a .twitter:hover {
              background-position: -70px -35px; } }
          @media only screen and (min-width: 992px) {
            .main header .top-navigation nav a .twitter:hover {
              background-position: -90px -45px; } }
          @media only screen and (max-width: 767px) {
            .main header .top-navigation nav a .github:hover {
              background-position: -75px -25px; } }
          @media only screen and (min-width: 768px) {
            .main header .top-navigation nav a .github:hover {
              background-position: -105px -35px; } }
          @media only screen and (min-width: 992px) {
            .main header .top-navigation nav a .github:hover {
              background-position: -135px -45px; } }
          @media only screen and (max-width: 767px) {
            .main header .top-navigation nav a .behance:hover {
              background-position: -100px -25px; } }
          @media only screen and (min-width: 768px) {
            .main header .top-navigation nav a .behance:hover {
              background-position: -140px -35px; } }
          @media only screen and (min-width: 992px) {
            .main header .top-navigation nav a .behance:hover {
              background-position: -180px -45px; } }
          @media only screen and (max-width: 767px) {
            .main header .top-navigation nav a .resume:hover {
              background-position: -125px -25px; } }
          @media only screen and (min-width: 768px) {
            .main header .top-navigation nav a .resume:hover {
              background-position: -175px -35px; } }
          @media only screen and (min-width: 992px) {
            .main header .top-navigation nav a .resume:hover {
              background-position: -225px -45px; } }
          @media only screen and (max-width: 767px) {
            .main header .top-navigation nav a {
              margin: 5px 0 5px 22px; } }
          @media only screen and (min-width: 768px) {
            .main header .top-navigation nav a {
              margin: 5px 0 5px 55px; } }
          @media only screen and (min-width: 992px) {
            .main header .top-navigation nav a {
              margin: 5px 0 5px 83px; } }
      @media only screen and (max-width: 767px) {
        .main header .top-navigation {
          width: 100%;
          padding: 0 15px;
          height: 35px; } }
      @media only screen and (min-width: 768px) {
        .main header .top-navigation {
          width: 100%;
          padding: 0 15px;
          height: 45px; } }
      @media only screen and (min-width: 992px) {
        .main header .top-navigation {
          width: 992px;
          padding: 0 15px;
          height: 55px; } }
    @media only screen and (max-width: 767px) {
      .main header {
        height: 35px; } }
    @media only screen and (min-width: 768px) {
      .main header {
        height: 45px; } }
    @media only screen and (min-width: 992px) {
      .main header {
        height: 55px; } }
  @media only screen and (max-width: 767px) {
    .main .container .nav-to-home, .main .container .nav-to-about, .main .container .nav-to-blog, .main .container .nav-to-behind-the-beard, .main .container .nav-to-phantom-beard-syndrome {
      display: block;
      visibility: hidden;
      height: 37px; } }
  @media only screen and (min-width: 768px) {
    .main .container .nav-to-home, .main .container .nav-to-about, .main .container .nav-to-blog, .main .container .nav-to-behind-the-beard, .main .container .nav-to-phantom-beard-syndrome {
      display: block;
      visibility: hidden;
      height: 47px; } }
  @media only screen and (min-width: 992px) {
    .main .container .nav-to-home, .main .container .nav-to-about, .main .container .nav-to-blog, .main .container .nav-to-behind-the-beard, .main .container .nav-to-phantom-beard-syndrome {
      display: block;
      visibility: hidden;
      height: 57px; } }
  @media only screen and (max-width: 767px) {
    .main .container .nav-to-about, .main .container .nav-to-blog, .main .container .nav-to-behind-the-beard, .main .container .nav-to-phantom-beard-syndrome {
      margin: -37px 0 0 0; } }
  @media only screen and (min-width: 768px) {
    .main .container .nav-to-about, .main .container .nav-to-blog, .main .container .nav-to-behind-the-beard, .main .container .nav-to-phantom-beard-syndrome {
      margin: -47px 0 0 0; } }
  @media only screen and (min-width: 992px) {
    .main .container .nav-to-about, .main .container .nav-to-blog, .main .container .nav-to-behind-the-beard, .main .container .nav-to-phantom-beard-syndrome {
      margin: -57px 0 0 0; } }
  .main .container #home {
    height: 100%;
    padding: 20px 0; }
    .main .container #home .bearded-greetings {
      cursor: pointer;
      background-image: url("../media/images/bearded-greetings.png");
      background-position: top center;
      background-repeat: no-repeat;
      /*change the top two to be the right height********************************************************/ }
      @media only screen and (max-width: 767px) {
        .main .container #home .bearded-greetings {
          height: 299px;
          background-size: auto 598px; } }
      @media only screen and (min-width: 768px) {
        .main .container #home .bearded-greetings {
          height: 322px;
          background-size: auto 644px; } }
      @media only screen and (min-width: 992px) {
        .main .container #home .bearded-greetings {
          height: 354px;
          background-size: auto 708px; } }
    @media only screen and (max-width: 767px) {
      .main .container #home .bearded-greetings:hover {
        background-position: center -299px; } }
    @media only screen and (min-width: 768px) {
      .main .container #home .bearded-greetings:hover {
        background-position: center -322px; } }
    @media only screen and (min-width: 992px) {
      .main .container #home .bearded-greetings:hover {
        background-position: center -354px; } }
    .main .container #home .rich-snippet {
      margin-top: 55px; }
    @media only screen and (min-width: 992px) {
      .main .container #home {
        border-right: 1px dashed rgba(48, 121, 217, 0.5);
        border-left: 1px dashed rgba(48, 121, 217, 0.5); } }
  .main .container #about {
    padding: 20px 15px;
    background-color: #b3d92b; }
    .main .container #about article {
      min-height: 157px;
      display: inline-block; }
      .main .container #about article .xs-title-pos {
        color: #000; }
        @media only screen and (max-width: 767px) {
          .main .container #about article .xs-title-pos {
            display: block;
            text-align: center; } }
        @media only screen and (min-width: 768px) {
          .main .container #about article .xs-title-pos {
            display: none; } }
        @media only screen and (min-width: 992px) {
          .main .container #about article .xs-title-pos {
            display: none; } }
      .main .container #about article .motivation-img, .main .container #about article .inspiration-img {
        margin: 0 10px 10px 0; }
      .main .container #about article .motivation-img {
        float: left; }
      @media only screen and (max-width: 767px) {
        .main .container #about article .inspiration-img {
          float: left; } }
      @media only screen and (min-width: 768px) {
        .main .container #about article .inspiration-img {
          float: right;
          margin: 0 0 0 10px; } }
      @media only screen and (min-width: 992px) {
        .main .container #about article .inspiration-img {
          float: right;
          margin: 0 0 0 10px; } }
      .main .container #about article .motivation-text h1, .main .container #about article .inspiration-text h1 {
        color: #000; }
        @media only screen and (max-width: 767px) {
          .main .container #about article .motivation-text h1, .main .container #about article .inspiration-text h1 {
            display: none; } }
        @media only screen and (min-width: 768px) {
          .main .container #about article .motivation-text h1, .main .container #about article .inspiration-text h1 {
            display: block; } }
        @media only screen and (min-width: 992px) {
          .main .container #about article .motivation-text h1, .main .container #about article .inspiration-text h1 {
            display: block; } }
      @media only screen and (max-width: 767px) {
        .main .container #about article .inspiration-text {
          text-align: left; } }
      @media only screen and (min-width: 768px) {
        .main .container #about article .inspiration-text {
          text-align: right; } }
      @media only screen and (min-width: 992px) {
        .main .container #about article .inspiration-text {
          text-align: right; } }
    .main .container #about article:first-child {
      margin-bottom: 20px; }
  .main .container #blog {
    background-color: #404040;
    padding: 20px 15px; }
    .main .container #blog article {
      display: inline-block; }
      .main .container #blog article h1 {
        color: #f07000; }
      .main .container #blog article img {
        float: left;
        margin: 10px 10px 10px 0;
        display: block; }
        @media only screen and (max-width: 767px) {
          .main .container #blog article img {
            width: 150px; } }
        @media only screen and (min-width: 768px) {
          .main .container #blog article img {
            width: 273px; } }
        @media only screen and (min-width: 992px) {
          .main .container #blog article img {
            width: 273px; } }
      .main .container #blog article p {
        color: #f2f2f2; }
        @media only screen and (max-width: 767px) {
          .main .container #blog article p {
            margin: 5px 0 0 0; } }
        @media only screen and (min-width: 768px) {
          .main .container #blog article p {
            margin: 55px 0 0 0; } }
        @media only screen and (min-width: 992px) {
          .main .container #blog article p {
            margin: 55px 0 0 0; } }
    .main .container #blog .tags h3 {
      color: #f07000;
      margin: 0 10px 0 0; }
      @media only screen and (max-width: 767px) {
        .main .container #blog .tags h3 {
          float: none;
          line-height: 31px;
          font-size: 18px; } }
      @media only screen and (min-width: 768px) {
        .main .container #blog .tags h3 {
          float: left;
          line-height: 49px;
          font-size: 21px; } }
      @media only screen and (min-width: 992px) {
        .main .container #blog .tags h3 {
          float: left;
          line-height: 66px;
          font-size: 24px; } }
    .main .container #blog .tags ul {
      padding: 0; }
      @media only screen and (max-width: 767px) {
        .main .container #blog .tags ul {
          height: 31px; } }
      @media only screen and (min-width: 768px) {
        .main .container #blog .tags ul {
          height: 49px; } }
      @media only screen and (min-width: 992px) {
        .main .container #blog .tags ul {
          height: 66px; } }
      .main .container #blog .tags ul li {
        list-style-type: none;
        float: left;
        margin: 0 10px 0 0;
        height: 100%;
        background-image: url("../media/images/all-blog-tags.png"); }
        @media only screen and (max-width: 767px) {
          .main .container #blog .tags ul li {
            width: 36px;
            background-size: 216px auto; } }
        @media only screen and (min-width: 768px) {
          .main .container #blog .tags ul li {
            width: 56px;
            background-size: 336px auto; } }
        @media only screen and (min-width: 992px) {
          .main .container #blog .tags ul li {
            width: 76px;
            background-size: 456px auto; } }
      @media only screen and (max-width: 767px) {
        .main .container #blog .tags ul .design {
          background-position: -36px 0; } }
      @media only screen and (min-width: 768px) {
        .main .container #blog .tags ul .design {
          background-position: -56px 0; } }
      @media only screen and (min-width: 992px) {
        .main .container #blog .tags ul .design {
          background-position: -76px 0; } }
      @media only screen and (max-width: 767px) {
        .main .container #blog .tags ul .technology {
          background-position: -72px 0; } }
      @media only screen and (min-width: 768px) {
        .main .container #blog .tags ul .technology {
          background-position: -112px 0; } }
      @media only screen and (min-width: 992px) {
        .main .container #blog .tags ul .technology {
          background-position: -152px 0; } }
      @media only screen and (max-width: 767px) {
        .main .container #blog .tags ul .beard {
          background-position: -108px 0; } }
      @media only screen and (min-width: 768px) {
        .main .container #blog .tags ul .beard {
          background-position: -168px 0; } }
      @media only screen and (min-width: 992px) {
        .main .container #blog .tags ul .beard {
          background-position: -228px 0; } }
      @media only screen and (max-width: 767px) {
        .main .container #blog .tags ul .humor {
          background-position: -144px 0; } }
      @media only screen and (min-width: 768px) {
        .main .container #blog .tags ul .humor {
          background-position: -224px 0; } }
      @media only screen and (min-width: 992px) {
        .main .container #blog .tags ul .humor {
          background-position: -304px 0; } }
      @media only screen and (max-width: 767px) {
        .main .container #blog .tags ul .game {
          background-position: -180px 0; } }
      @media only screen and (min-width: 768px) {
        .main .container #blog .tags ul .game {
          background-position: -280px 0; } }
      @media only screen and (min-width: 992px) {
        .main .container #blog .tags ul .game {
          background-position: -380px 0; } }
  .main .container #blog-posts {
    padding: 20px 15px;
    /*Blog Posts***********************************************************************************/
    /*The End Of The Blog Posts Section*********************************************************/ }
    .main .container #blog-posts article:last-child {
      margin: 0; }
    .main .container #blog-posts article {
      margin: 0 0 50px 0; }
      .main .container #blog-posts article .title-section {
        margin: 0;
        padding: 0 0 5px 0;
        border-bottom: 1px dashed rgba(64, 64, 64, 0.5); }
        .main .container #blog-posts article .title-section img {
          float: left;
          margin: 0 5px 0 0; }
          @media only screen and (max-width: 767px) {
            .main .container #blog-posts article .title-section img {
              width: 26px; } }
          @media only screen and (min-width: 768px) {
            .main .container #blog-posts article .title-section img {
              width: 31px; } }
          @media only screen and (min-width: 992px) {
            .main .container #blog-posts article .title-section img {
              width: 36px; } }
        .main .container #blog-posts article .title-section h3 {
          color: #63b0f2; }
          @media only screen and (max-width: 767px) {
            .main .container #blog-posts article .title-section h3 {
              line-height: 26px;
              font-size: 16px; } }
          @media only screen and (min-width: 768px) {
            .main .container #blog-posts article .title-section h3 {
              line-height: 31px;
              font-size: 18px; } }
          @media only screen and (min-width: 992px) {
            .main .container #blog-posts article .title-section h3 {
              line-height: 36px;
              font-size: 20px; } }
      .main .container #blog-posts article .post-content a {
        color: #3079d9; }
      .main .container #blog-posts article .post-content a:hover {
        color: #b3d92b; }
      .main .container #blog-posts article .post-content figure {
        margin: 10px 0; }
        .main .container #blog-posts article .post-content figure img {
          width: 100%;
          box-sizing: border-box; }
        .main .container #blog-posts article .post-content figure figcaption {
          color: #63b0f2;
          font-family: 'Ubuntu', san-serif; }
          @media only screen and (max-width: 767px) {
            .main .container #blog-posts article .post-content figure figcaption {
              font-size: 0.75em; } }
          @media only screen and (min-width: 768px) {
            .main .container #blog-posts article .post-content figure figcaption {
              font-size: 0.9em; } }
          @media only screen and (min-width: 992px) {
            .main .container #blog-posts article .post-content figure figcaption {
              font-size: 1.05em; } }
      .main .container #blog-posts article .post-content .subtitle {
        color: #000;
        font-family: 'Droid Serif', serif;
        margin: 15px 0 5px 0; }
        @media only screen and (max-width: 767px) {
          .main .container #blog-posts article .post-content .subtitle {
            font-size: 18px; } }
        @media only screen and (min-width: 768px) {
          .main .container #blog-posts article .post-content .subtitle {
            font-size: 21px; } }
        @media only screen and (min-width: 992px) {
          .main .container #blog-posts article .post-content .subtitle {
            font-size: 24px; } }
      .main .container #blog-posts article .post-content p:last-child {
        margin: 0; }
      .main .container #blog-posts article .post-content .small-tags {
        margin: 20px 0 0 0; }
        .main .container #blog-posts article .post-content .small-tags h4 {
          float: left;
          margin: 0 10px 0 0;
          color: #404040; }
          @media only screen and (max-width: 767px) {
            .main .container #blog-posts article .post-content .small-tags h4 {
              font-size: 14px;
              line-height: 29px; } }
          @media only screen and (min-width: 768px) {
            .main .container #blog-posts article .post-content .small-tags h4 {
              font-size: 16px;
              line-height: 32px; } }
          @media only screen and (min-width: 992px) {
            .main .container #blog-posts article .post-content .small-tags h4 {
              font-size: 18px;
              line-height: 35px; } }
        .main .container #blog-posts article .post-content .small-tags ul li {
          list-style-type: none;
          background-image: url("../media/images/blog-post-section/all-blog-tags-sm.png");
          float: left; }
          @media only screen and (max-width: 767px) {
            .main .container #blog-posts article .post-content .small-tags ul li {
              width: 29px;
              height: 29px;
              background-size: 174px auto; } }
          @media only screen and (min-width: 768px) {
            .main .container #blog-posts article .post-content .small-tags ul li {
              width: 32px;
              height: 32px;
              background-size: 192px auto; } }
          @media only screen and (min-width: 992px) {
            .main .container #blog-posts article .post-content .small-tags ul li {
              width: 35px;
              height: 35px;
              background-size: 210px auto; } }
        @media only screen and (max-width: 767px) {
          .main .container #blog-posts article .post-content .small-tags ul .design-sm {
            background-position: -29px 0; } }
        @media only screen and (min-width: 768px) {
          .main .container #blog-posts article .post-content .small-tags ul .design-sm {
            background-position: -32px 0; } }
        @media only screen and (min-width: 992px) {
          .main .container #blog-posts article .post-content .small-tags ul .design-sm {
            background-position: -35px 0; } }
        @media only screen and (max-width: 767px) {
          .main .container #blog-posts article .post-content .small-tags ul .technology-sm {
            background-position: -58px 0; } }
        @media only screen and (min-width: 768px) {
          .main .container #blog-posts article .post-content .small-tags ul .technology-sm {
            background-position: -64px 0; } }
        @media only screen and (min-width: 992px) {
          .main .container #blog-posts article .post-content .small-tags ul .technology-sm {
            background-position: -70px 0; } }
        @media only screen and (max-width: 767px) {
          .main .container #blog-posts article .post-content .small-tags ul .beard-sm {
            background-position: -87px 0; } }
        @media only screen and (min-width: 768px) {
          .main .container #blog-posts article .post-content .small-tags ul .beard-sm {
            background-position: -96px 0; } }
        @media only screen and (min-width: 992px) {
          .main .container #blog-posts article .post-content .small-tags ul .beard-sm {
            background-position: -105px 0; } }
        @media only screen and (max-width: 767px) {
          .main .container #blog-posts article .post-content .small-tags ul .humor-sm {
            background-position: -116px 0; } }
        @media only screen and (min-width: 768px) {
          .main .container #blog-posts article .post-content .small-tags ul .humor-sm {
            background-position: -128px 0; } }
        @media only screen and (min-width: 992px) {
          .main .container #blog-posts article .post-content .small-tags ul .humor-sm {
            background-position: -140px 0; } }
        @media only screen and (max-width: 767px) {
          .main .container #blog-posts article .post-content .small-tags ul .game-sm {
            background-position: -145px 0; } }
        @media only screen and (min-width: 768px) {
          .main .container #blog-posts article .post-content .small-tags ul .game-sm {
            background-position: -160px 0; } }
        @media only screen and (min-width: 992px) {
          .main .container #blog-posts article .post-content .small-tags ul .game-sm {
            background-position: -175px 0; } }
      @media only screen and (max-width: 767px) {
        .main .container #blog-posts article .post-content {
          padding: 0 26px; } }
      @media only screen and (min-width: 768px) {
        .main .container #blog-posts article .post-content {
          padding: 0 31px; } }
      @media only screen and (min-width: 992px) {
        .main .container #blog-posts article .post-content {
          padding: 0  36px; } }
    .main .container #blog-posts #phantom-beard-syndrome .post-content figure img#new-beard {
      border: 1px dashed rgba(64, 64, 64, 0.5); }
    .main .container #blog-posts #behind-the-beard .post-content figure .image-container:first-child {
      padding-left: 0; }
    .main .container #blog-posts #behind-the-beard .post-content figure .image-container:last-child {
      padding-right: 0; }
  @media only screen and (max-width: 767px) {
    .main .container {
      margin: 0 0 25px 0; } }
  @media only screen and (min-width: 768px) {
    .main .container {
      margin: 0 0 30px 0;
      width: auto; } }
  @media only screen and (min-width: 992px) {
    .main .container {
      margin: 0 auto 35px auto;
      width: 970px; } }
  .main footer {
    box-shadow: 0px -2px 2px #000;
    background-color: #404040;
    text-align: center; }
    .main footer a {
      font-family: 'Ubuntu', san-serif;
      color: #3079d9; }
    .main footer a:hover {
      color: #b3d92b; }
    .main footer span {
      color: #b3d92b; }
    @media only screen and (max-width: 767px) {
      .main footer {
        height: 25px;
        line-height: 25px;
        font-size: 1.15em; } }
    @media only screen and (min-width: 768px) {
      .main footer {
        height: 30px;
        line-height: 30px;
        font-size: 1.2em; } }
    @media only screen and (min-width: 992px) {
      .main footer {
        height: 35px;
        line-height: 35px;
        width: 970px;
        padding: 0 15px;
        margin: 0 auto;
        font-size: 1.2em; } }
